SexyAppFramework/Output/*
SexyAppFramework/Debug/*
SexyAppFramework/DebugGOTY/*
SexyAppFramework/Release/*
SexyAppFramework/ReleaseGOTY/*
!SexyAppFramework/Output/dependency.pak

/.vs/PlantsVsZombies/*
/.vs/Stable Decompile/*
/.vs/slnx.sqlite
*.sqlite
/Patch

/Output/dependency/*
/Output/properties/*
/Output/*.exe
/Output/*.pak
!/Output/dependency.pak
/Output/crash.txt
/Output/*.ilk
/Output/*.pdb
/Output/screenshots/*

portaudio/*
!portaudio/build/msvc/Win32/Release/*.lib
!portaudio/build/msvc/Win32/Release/*.dll
!portaudio/build/msvc/x64/Release/*.lib
!portaudio/build/msvc/x64/Release/*.dll
!portaudio/include/**

enc_temp_folder/*